<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>458418343831-po4odb9p9na8pvj9g4mcdi5ua177n9n7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.458418343831-po4odb9p9na8pvj9g4mcdi5ua177n9n7</string>
	<key>API_KEY</key>
	<string>AIzaSyAulPAKpL4kTGzK7w840vDsfT1Emn1HKQQ</string>
	<key>GCM_SENDER_ID</key>
	<string>458418343831</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bhealth</string>
	<key>PROJECT_ID</key>
	<string>level-social</string>
	<key>STORAGE_BUCKET</key>
	<string>level-social.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:458418343831:ios:b1e4e74acad62bfb1cbed2</string>
</dict>
</plist>